# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.tga binary
*.tiff binary
*.tif binary
*.psd binary
*.ai binary
*.svg -diff

# Model files
*.pkl binary
*.h5 binary
*.hdf5 binary
*.joblib binary

# Archive files
*.zip binary
*.gz binary
*.tar binary
*.rar binary
*.7z binary

# Executables
*.exe binary
*.msi binary
*.dll binary

# Jupyter notebooks
*.ipynb filter=nbstripout